<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
