<div class="col-md-8">
  <div class="pull-right">
    <%= link_to "返回站内信首页", messages_path, class: "btn btn-primary btn-xs" %>
  </div>
    <h2><%= @message.title %></h2>
    <p><%= @message.content %></p>
</div>
