<div class="col-md-4 col-md-offset-4">
  <h2>Edit a Comment</h2>
  <hr>
  <%= simple_form_for [@article,@comment] do |f| %>
    <%= f.input :content %>
    <%= f.submit "Submit", class: "btn btn-sm btn-primary" %>
  <% end %>
</div>
