<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Content</th>
        <th>Created Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.created_at.strftime("%F %T") %></td>
        <td>
          <%= link_to("Edit", edit_article_comment_path(comment.article, comment), class: "btn btn-xs btn-default pull-right")%>
           <%= link_to("Delete", article_comment_path(comment.article, comment), class: "btn btn-xs btn-default pull-right", method: :delete, data: {confirm: "Are you sure? "})%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
